deploy:
  provider: npm
  email: jeff.panici@panici-software.com
  api_key:
    secure: nfgKkHIUYDN6Ef1EYXHhj5FhF1F8FFEEovl4vC+wg9eMMozq0pBryd4uQzTbzg5pdzMdcS+X9zMuU6CIZqN++gr97ocVrK56S/AE6i5qWOrjMXI6DsVmQ5ywmyXP2SUqp8O4yDgbE3N//9Hi4tHFvoxVuHsZKtUlpNwVFnQUAXg9LLIdhnGHLV0hf7GuTuxgyXOQeq+pGT4oAwipG0Y1nJLYlOFsG4af4p0wtlErisBWHLsE4Li6UfHbiXBLTwzchip6yGVA4wJtg5aU381ICdDKUGLS4XoPDJkcAhge4ODG7CO3cu/BfifsXhll2bJYaXWY4zzzLtSXPSRKiIgFEDAOCt5+MitRZQJqpJbrU+N0X+74VZJCcM9mSoto3aaGyD1JIapz8lC8r+rf5mzzwZXX3nFIRPQscpzGEXCenoNZXrg00A0i/3UrIjmCCVwR+nZTdFU9/FfSltoLt2iann+A6AFicXkDWSR9FTbjF8KuE/8FmKcdcbvOrcK4fwVwxchEDd+703RLKxrUZrPsy4i681BnrHmdIaTivQqcCWeCta2ARAX6JdWVn5vO1jlJaz3o7sTwweUDgTG7V43DdWJfTqGyJaEjxU7/3GpeZFQFr9ScmDe/5HvrMLtuD7LKj9VEPfuFWb2rotwiSDgrOANLmf+kd9+4ZHJUUl72Iu8=
  on:
    tags: true
